node_modules/

package-lock.json

# Cache de áudio gerado
public/audio-cache/

.next/

.env.local
.env

public/data/

public/audio-cache/

public/data/Plant-Power_20250912195804.csv

# Banco de dados
*.sqlite
*.sqlite-shm
*.sqlite-wal

# Arquivos Python (Arduino)
Arduino.py
Capturar_movimento.py
Receber_Dados.py